name: apt-cache

services:
  apt-proxy:
    image: apham0001/apt-proxy
    restart: always
    command: --ubuntu=cn:tsinghua --debian=cn:tsinghua
    environment:
      - TZ=Asia/Shanghai
    ports:
      - "3142:3142"
