<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="original ui design"
      content="https://dribbble.com/shots/833870-Rebound-Twitter"
    />
    <link href="/assets/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/assets/logo.png" />
    <title>soulteary/apt-proxy</title>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <a
          href="https://github.com/soulteary/apt-proxy"
          target="_blank"
          class="logo"
        >
          <img width="80" src="/assets/logo.svg" alt="APT Proxy"
        /></a>
        <h2>
          <a href="https://github.com/soulteary/apt-proxy" target="_blank"
            >soulteary/apt-proxy</a
          >
        </h2>
        <p>
          APT Proxy is a Lightweight and Reliable packages (Ubuntu / Debian /
          CentOS / Alpine) cache tool, supports a large number of common system
          and Docker usage.
        </p>
      </div>

      <div class="stats clearfix">
        <a href="#" class="stat">
          <strong>$APT_PROXY_CACHE_SIZE</strong>
          Cache size
        </a>
        <a href="#" class="stat">
          <strong>$APT_PROXY_FILE_NUMBER</strong>
          Number of files
        </a>
        <a href="#" class="stat">
          <strong>$APT_PROXY_AVAILABLE_SIZE</strong>
          Available space
        </a>
      </div>

      <div class="stats stats-bottom clearfix">
        <a href="#" class="stat">
          <strong>$APT_PROXY_MEMORY_USAGE</strong>
          Memory usage
        </a>
        <a href="#" class="stat">
          <strong>$APT_PROXY_GOROUTINES</strong>
          Goroutines
        </a>
        <a
          href="https://github.com/soulteary/apt-proxy/issues"
          class="stat enable"
          target="_blank"
        >
          <strong>GitHub</strong>
          Feedback
        </a>
      </div>
    </div>
  </body>
</html>
